@model GameStore.WebApp.MVC.Models.EmprestimoViewModel

<div class="form-group">
    <label asp-for="Jogo.Nome" class="control-label"></label>
    <input asp-for="Jogo.Nome" class="form-control" />
    <span asp-validation-for="Jogo.Nome" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Jogo.Genero" class="control-label"></label>
    <input asp-for="Jogo.Genero" class="form-control" />
    <span asp-validation-for="Jogo.Genero" class="text-danger"></span>
</div>

