@model GameStore.WebApp.MVC.Models.EmprestimoViewModel

@{ ViewData["Title"] = "Editar Emprestimo"; }

<h1>@ViewData["Title"]</h1>

<hr />

<form asp-action="Edit">

    <vc:Summary></vc:Summary>

    <input type="hidden" asp-for="Id" />

    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="AmigoId"></label>
            <input asp-for="AmigoId" class="form-control" />
            <span asp-validation-for="AmigoId" class="text-danger"></span>

            <label asp-for="JogoId"></label>
            <input asp-for="JogoId" class="form-control" />
            <span asp-validation-for="JogoId" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </div>
</form>

<div id="AmigoTarget">
    <partial name="_DetalhesAmigo" />
</div>

<hr />
<h4>Jogo</h4>
<div>
    <partial name="../Jogos/_ListaJogos" model="@Model.Jogo" />
</div>

<div id="myModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            AjaxModal();
        });
    </script>

}
